.footer .first .title {
  font-family: "Post No Bills Jaffna SemiBold", sans-serif;
  font-size: 36px;
  color: #FFFFFF;
  margin-bottom: 15px;
}
.footer .first .subtitle {
  font-family: Raleway, sans-serif;
  font-size: 12px;
  color: #FFFFFF;
}