@import "../libs/fonts/Raleway/stylesheet.css";
@import "../libs/fonts/playfair/stylesheet.css";
@import "../libs/fonts/roboto/stylesheet.css";
html {
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.home {
  background: url("../img/home/bg 3.jpg") center/cover;
  padding: 295px 0 74px;
}
.home__title {
  font-family: Playfair Display, sans-serif;
  width: 556px;
  height: 109px;
  font-style: normal;
  font-size: 48px;
  text-align: center;
  color: #D4C17F;
  margin: 0 auto;
}
.home__group {
  display: flex;
  justify-content: space-between;
  width: 582px;
  max-width: 100%;
  margin: 0 auto;
}
.home__fontain {
  width: 218px;
  height: 21px;
  color: #FFFFFF;
  font-family: Raleway, sans-serif;
}
.home__call {
  width: 218px;
  height: 21px;
  color: #FFFFFF;
  font-family: Raleway, sans-serif;
}
.home .mouse {
  text-align: center;
  padding-bottom: 186px;
  padding-top: 150px;
}

.header {
  padding: 30px 0;
  position: absolute;
  width: 100%;
}
.header__all {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header-logo__title {
  font-family: "Post No Bills Jaffna SemiBold", sans-serif;
  font-size: 36px;
  color: #FFFFFF;
  margin-bottom: 15px;
}
.header-logo__subtitle {
  font-family: Raleway, sans-serif;
  font-size: 12px;
  color: #FFFFFF;
}
.header .nav__link {
  align-items: center;
  display: inline-block;
  margin-right: 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 45px;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  color: #FFFFFF;
  position: relative;
}

.test {
  background-color: #242b33;
}
.test .figure-1 {
  position: absolute;
  font-family: Playfair Display, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 400px;
  line-height: 533px;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.02;
  transform: translate(330%, -10%);
}
.test .figure-2 {
  position: absolute;
  font-family: Playfair Display, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 400px;
  line-height: 533px;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.02;
  transform: translate(-32%, 70%);
}
.test .text {
  position: absolute;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
  padding: 300px 0 0;
  margin-left: -500px;
}
.test .img {
  margin-bottom: 53px;
}
.test .first {
  margin: auto;
  max-width: 794px;
}
.test .nnn {
  margin-top: 120px;
  text-align: center;
}
.test-text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
}
.test .title {
  margin-top: 120px;
  margin-bottom: 100px;
  margin-left: 90px;
  font-family: Playfair Display, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  color: #D4C17F;
}
.test .pop {
  display: flex;
  margin-bottom: 30px;
}
.test .pop .poper {
  margin-right: 30px;
}
.test .kok {
  display: flex;
}
.test .kok .koker {
  margin-right: 30px;
}
.test .alls {
  margin-left: 90px;
}

.cta {
  background: url("../img/cta/bg.png");
  height: 560px;
}
.cta__title {
  font-family: Playfair Display, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  color: #D4C17F;
  margin-bottom: 50px;
  padding-top: 180px;
}
.cta__subtitle {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
.cta .fff {
  display: flex;
}
.cta__form {
  max-width: 540px;
  margin-top: -25px;
}
.cta__form .page {
  width: 255px;
  height: 28px;
}
.cta__form .btn-2 {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  color: #FFFFFF;
  display: block;
  width: 255px;
  height: 50px;
  background: #D4C17F;
  margin-left: 30px;
  text-decoration: none;
}
.cta__form .page {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #E7E7E7;
}
.cta__form .btn {
  width: 255px;
  height: 50px;
  background: rgba(255, 255, 255, 0.2);
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 40px;
  color: #FFFFFF;
}
.cta__form .btn::placeholder {
  color: #FFFFFF;
}
.cta-end {
  display: flex;
  margin-left: 35px;
}
.cta__box {
  margin-bottom: 35px;
  display: flex;
  margin-left: 35px;
}
.cta .btn:first-child {
  margin-right: 20px;
}

.last {
  background-color: #242b33;
  position: relative;
}
.last .figure-3 {
  position: absolute;
  font-family: Playfair Display, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 400px;
  line-height: 533px;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.02;
  transform: translate(238%, 10%);
}
.last .figure-4 {
  position: absolute;
  font-family: Playfair Display, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 400px;
  line-height: 533px;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.02;
  transform: translate(-50%, 145%);
}
.last__video {
  text-align: center;
}
.last__video__img {
  margin-bottom: 180px;
}
.last__video__img-2 {
  position: absolute;
  margin: 266px -400px;
  z-index: 1;
}
.last__maps__title {
  font-family: Playfair Display, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  color: #D4C17F;
  margin-bottom: 100px;
}
.last__maps .maps {
  margin-bottom: 180px;
}
.last__form .subtitle {
  margin-top: 180px;
  font-family: Playfair Display, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  color: #D4C17F;
  margin-bottom: 61px;
}
.last__form .last-box {
  display: flex;
}
.last__form .last-box .last-text {
  margin-right: 35px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #E7E7E7;
}
.last__form .last-box .cta-box {
  display: flex;
}
.last__form .last-box .cta-box .btn {
  width: 255px;
  height: 50px;
  background: rgba(255, 255, 255, 0.2);
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 40px;
  color: white;
  margin-bottom: 180px;
}
.last__form .last-box .cta-box .btn::placeholder {
  color: white;
}
.last__form .last-box .cta-box .button {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  color: #FFFFFF;
  display: block;
  width: 255px;
  height: 50px;
  background: #D4C17F;
  text-decoration: none;
}
.last__form .last-box .cta-box .btn {
  margin-right: 30px;
}

.footer {
  background: #2D343C;
}
.footer .first {
  max-width: 1110px;
}
.footer .title {
  margin-top: 60px;
  font-family: "Post No Bills Jaffna SemiBold", sans-serif;
  font-size: 36px;
  color: #FFFFFF;
  margin-bottom: 15px;
}
.footer .subtitle {
  font-family: Raleway, sans-serif;
  font-size: 12px;
  color: #FFFFFF;
}
.footer .second {
  margin-top: 72px;
}
.footer .second .nav__link {
  margin-top: 15px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: #FFFFFF;
  list-style-type: none;
}
.footer .third {
  margin-top: 72px;
}
.footer .third .nav__link {
  margin-top: 15px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: #FFFFFF;
  list-style-type: none;
}
.footer .fourth {
  margin-top: 72px;
}
.footer .fourth .nav__link {
  margin-top: 15px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: #FFFFFF;
  list-style-type: none;
}
.footer .fourth .nav__link .mail {
  color: #D4C17F;
  text-decoration: none;
}
.footer .fourth .icons {
  margin-left: 30px;
}
.footer .fourth .icons__img:nth-child(2) {
  margin-right: 25px;
  margin-left: 20px;
}
.footer .fourth .icons__img:nth-child(3) {
  margin-right: 24px;
}

.upbtn {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 100%;
  max-width: 70px;
  height: 100%;
  max-height: 70px;
  text-decoration: none;
  color: white;
  font-size: 25px;
  text-align: center;
}
.upbtn img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1200px) {
  .home__title {
    padding: 1px 0 171px;
    font-size: 40px;
  }

  .header-logo__title {
    padding: 20px 0 20px;
  }

  .test .pop {
    display: block;
  }

  .test .kok {
    display: block;
  }
}
@media (max-width: 767px) {
  .header .nav {
    position: fixed;
    height: 100%;
    top: -100%;
    right: 0;
    width: 50%;
    background: #853823;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: 0.6s;
  }
  .header .nav.active {
    position: fixed;
    height: 100%;
    top: 0;
    right: 0;
    width: 50%;
    background: #853823;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header .nav.active .nav__link {
    margin-right: 0;
    margin-bottom: 25px;
  }

  .home__title {
    padding: 1px 0 110px;
  }

  .burger_menu {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 11;
  }
  .burger_menu.active .burger_menu__line {
    background: none;
  }
  .burger_menu.active .burger_menu__line:before {
    transform: rotate(45deg);
    top: 0;
  }
  .burger_menu.active .burger_menu__line:after {
    transform: rotate(-45deg);
    bottom: 0;
  }
  .burger_menu__line {
    width: 30px;
    height: 2px;
    background: #FFFFFF;
    position: relative;
    transition: 0.5s;
  }
  .burger_menu__line:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background: #FFFFFF;
    transition: 0.5s;
    top: -10px;
  }
  .burger_menu__line:after {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background: #FFFFFF;
    transition: 0.5s;
    bottom: -10px;
  }

  .header {
    border-bottom: none;
  }

  .cta__box {
    margin-left: 65px;
    display: block;
  }

  .cta .btn:first-child {
    margin-bottom: 20px;
  }

  .cta__form .page {
    padding-left: 35px;
    margin-top: -20px;
  }

  .cta-end {
    display: block;
  }

  .cta__form .btn-2 {
    margin-top: 30px;
  }

  .cta__subtitle {
    line-height: 18px;
    margin-top: -40px;
  }

  .last__form .last-box .cta-box {
    display: block;
    margin-right: -300px;
    margin-top: -60px;
  }

  .last__form .last-box .cta-box .btn {
    margin-bottom: 10px;
  }

  .last__form .last-box .cta-box .button {
    margin-bottom: 50px;
  }

  .footer .fourth .icons {
    display: flex;
  }

  .footer {
    margin-top: -50px;
  }

  .test .pop {
    display: block;
    margin-left: -80px;
    margin-bottom: 30px;
  }

  .test .kok {
    display: block;
    margin-left: -80px;
  }

  .test .pop .koker {
    margin-bottom: 100px;
  }

  .cta__title {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .last__form .subtitle {
    margin-top: 50px;
  }

  .last__maps__title {
    margin-top: -150px;
  }

  .test .text {
    margin: -327px -68px;
  }
}
@media (max-width: 552px) {
  .home__title {
    width: 80%;
  }

  .home {
    padding: 154px 0 1px;
  }

  .home .mouse {
    padding-top: 38px;
    padding-bottom: 71px;
  }

  .header-logo__title {
    padding: 20px 0 1px;
  }
}
@media (max-width: 360px) {
  .home__title {
    font-size: 32px;
  }
}
@media (max-width: 432px) {
  .home__title {
    font-size: 32px;
  }
}
@media (max-width: 1300px) {
  .test .alls {
    text-align: center;
  }

  .test .pop .poper {
    margin-bottom: 30px;
    margin-right: 0;
  }

  .test .kok .koker {
    margin-bottom: 30px;
    margin-right: 0;
  }

  .test .title {
    text-align: center;
  }
}
@media (max-width: 625px) {
  .poper img {
    width: 70%;
  }

  .oper img {
    width: 70%;
  }

  .koker img {
    width: 70%;
  }

  .oker img {
    width: 70%;
  }

  .test .text {
    margin: -327px -227px;
  }

  .cta__title {
    padding-top: 25px;
    padding-bottom: 1px;
    font-size: 156%;
  }
}
@media (max-width: 465px) {
  .cta__subtitle {
    line-height: 15px;
  }

  .cta .btn:first-child {
    width: 80%;
  }

  .cta__form .btn {
    width: 80%;
  }

  .cta__form .page {
    font-size: 80%;
    padding-left: 7px;
    margin-top: -16px;
  }

  .cta__form .btn-2 {
    width: 80%;
    margin-top: 43px;
    margin-left: 20px;
  }
}
@media (max-width: 406px) {
  .cta .btn:first-child {
    margin-left: -28px;
  }

  .cta__form .btn {
    margin-left: -28px;
  }

  .cta__form .page {
    font-size: 100%;
    padding-right: 104px;
    margin-top: -18px;
  }

  .cta__form .btn-2 {
    width: 70%;
    margin-top: 80px;
    margin-left: 3px;
  }
}
@media (max-width: 325px) {
  .cta .fff {
    display: block;
  }

  .cta__form {
    max-width: 540px;
    margin-top: 7px;
  }

  .test .text {
    margin: -326px -175px;
  }
}
@media (max-width: 365px) {
  .cta .fff {
    display: block;
  }

  .cta .btn:first-child {
    margin-left: -64px;
    margin-top: 22px;
  }

  .cta__form .btn {
    margin-left: -64px;
  }

  .cta__form .page {
    display: none;
  }

  .cta__form .btn-2 {
    width: 72%;
    margin: -10px -35px;
  }
}
@media (max-width: 989px) {
  .cta__subtitle {
    font-size: 18px;
    line-height: 16px;
    margin-top: -33px;
  }
}
@media (max-width: 993px) {
  .last__video__img-2 {
    margin: -573px -29px;
  }
}
@media (max-width: 435px) {
  .cta__form .page {
    font-size: 100%;
    padding-right: 47px;
  }

  .cta__form .btn-2 {
    width: 80%;
    margin-top: 67px;
  }
}
@media (max-width: 390px) {
  .cta__form .page {
    padding-right: 75px;
  }

  .cta__form .btn-2 {
    width: 70%;
    margin-top: 82px;
  }
}
@media (max-width: 780px) {
  .last__video__img {
    width: 90%;
  }

  .last__video__img-2 {
    margin: 235px -338px;
  }
}
@media (max-width: 768px) {
  .last__video__img-2 {
    margin: 147px -241px;
  }
}
@media (max-width: 450px) {
  .last__video__img-2 {
    margin: 132px -219px;
    width: 15%;
  }
}
@media (max-width: 450px) {
  .last__video__img-2 {
    margin: 132px -197px;
    width: 15%;
  }
}
@media (max-width: 380px) {
  .last__video__img-2 {
    margin: 132px -175px;
  }
}
@media (max-width: 328px) {
  .cta__form .btn-2 {
    width: 70%;
    margin-top: -10px;
  }

  .last__video__img-2 {
    margin: 88px -154px;
  }
}
@media (max-width: 540px) {
  .last__form .last-box .cta-box {
    display: block;
    margin-right: -130px;
    margin-top: -43px;
  }
}
@media (max-width: 540px) {
  .last__form .last-box .cta-box {
    display: block;
    margin-right: 1px;
    margin-top: -43px;
  }
}
@media (max-width: 425px) {
  .last__form .last-box .last-text {
    line-height: 22px;
    margin-top: -46px;
  }
}
@media (max-width: 370px) {
  .last__form .last-box .cta-box .btn {
    width: 80%;
  }

  .last__form .last-box .cta-box .button {
    margin-bottom: 50px;
    width: 80%;
  }

  .last__form .last-box .last-text {
    line-height: 37px;
    margin-top: -46px;
  }
}
@media (max-width: 345px) {
  .last__form .last-box .cta-box .button {
    width: 100%;
    margin: 29px -14px;
  }
}
@media (max-width: 1000px) {
  .last__form .last-box .cta-box {
    display: block;
  }

  .last__form .last-box .cta-box .btn {
    margin-bottom: 30px;
  }

  .last__form .last-box .cta-box .button {
    margin-bottom: 30px;
  }
}
/*# sourceMappingURL=style.css.map */